/* ================= LIGHT MODE ================= */
body.light-mode {
  --background: #f8fafc;             
  --surface: #ffffff;               
  --surface-hover: #f1f5f9;          
  --text-primary: #0f172a;           
  --text-muted: #64748b;             
  --primary: #F59E0B;                
  --secondary: #0ea5e9;
  --success: #16a34a;
  --border: rgba(0, 0, 0, 0.08);   
  --shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}
body {
  transition: background 0.3s ease, color 0.3s ease;
}

.card, .chart-cards, .header, #sideBar, .dropdown {
  transition: all 0.3s ease;
}

body.light-mode #sunIcon {
  display: none;
}

body.light-mode #moonIcon {
  display: inline;
}